h1 {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#titre {
    font-size: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
}


body {
    background:
        linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.7)),
        url('/static/img/pattes.png') repeat;

}

