<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="bg-ligth">
    <nav class="navbar navbar-expand-md" style="background-color: #4db8ff;" data-bs-theme="light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('index') }}">Accueil</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <form class="d-flex ms-auto" role="search" action="{{ url_for('search')}}" method="GET">
                    <input id="recherche" name="recherche" class="form-control me-2 " type="search" placeholder="Search"
                        aria-label="Search" />
                    <button class="btn btn-outline-success" id="boton" type="submit">Chercher</button>
                </form>
            </div>
        </div>
    </nav>

    {% block content%}{% endblock %}
    {% block scripts %}{% endblock %}
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

</body>