{% extends "base.html" %}

{% block title %}Formulaire{% endblock %}
{% block content %}

<div class="container text-center">
    <h1>Formulaire de mise en adoption</h1>
</div>

<form id="form_adoption" action="{{url_for('treatment_form')}}" method="POST" enctype="multipart/form-data">
    <div class="container">
        <div class="row g-3">

            <div class="col-md-6">
                <label for="name" class="form-label">Nom</label>
                <input type="text" class="form-control border border-black" id="name" name="name"
                    placeholder="Nom de l'animal">
                <span id="err_name" class="text-danger small"></span>
            </div><br>

            <div class="col-md-6">
                <label for="species" class="form-label">Espèce</label>
                <input type="text" class="form-control border border-black" id="species" name="species"
                    placeholder="Espèce de l'animal">
                <span id="err_species" class="text-danger small"></span>
            </div><br>

            <div class="col-md-6">
                <label for="race" class="form-label">Race</label>
                <input type="text" class="form-control border border-black" id="race" name="race"
                    placeholder="Race de l'animal">
                <span id="err_race" class="text-danger small"></span>
            </div><br>

            <div class="col-md-6">
                <label for="age" class="form-label">Âge</label>
                <input type="text" class="form-control border border-black" id="age" name="age"
                    placeholder="Âge de l'animal">
                <span id="err_age" class="text-danger small"></span>
            </div><br>

            <div class="col-12">
                <label for="description" class="form-label">Description de l'animal</label>
                <textarea class="form-control border border-black" id="description" name="description"
                    placeholder="Description detaillée" rows="6" cols="50"></textarea>
                <span id="err_description" class="text-danger small"></span>
            </div><br>

            <div>
                <label for="photo">Ajoutez une photo de l'animal</label>
                <input type="file" id="photo" name="photo" accept="image/png, image/jpeg">
                <span id="err_photo" class="text-danger small"></span>
            </div>

            <div class="col-md-6">
                <label for="email" class="form-label">Courriel</label>
                <input type="email" class="form-control border border-black" id="email" name="email">
                <span id="err_email" class="text-danger small"></span>
            </div><br>

            <div class="col-12">
                <p class="fw-bold mt-3">Où venir chercher l'animal</p>
            </div>

            <div class="col-md-4">
                <label for="address" class="form-label">Adresse civique</label>
                <input type="text" class="form-control border border-black" id="address" name="address">
                <span id="err_address" class="text-danger small"></span>
            </div><br>

            <div class="col-md-4">
                <label for="city" class="form-label">Ville</label>
                <input type="text" class="form-control border border-black" id="city" name="city">
                <span id="err_city" class="text-danger small"></span>
            </div>

            <div class="col-md-4">
                <label for="post_code" class="form-label">Code postal</label>
                <input type="text" class="form-control border border-black" id="post_code" name="post_code">
                <span id="err_post_code" class="text-danger small"></span>
            </div>

            <div class="col-12 text-center">
                <button type="submit" class="btn btn-primary px-5 mt-3 mb-4">Soumettre</button>
            </div>
        </div>
    </div>
</form>
{% block scripts %}
<script src="{{url_for('static', filename='js/script_form_adoption.js')}}"></script>
{% endblock %}
{% endblock %}