{% extends "base.html" %}

{% block title %}Accueil{% endblock %}
{% block content %}

<div class="position-relative text-center text-white">
    <img src="{{ url_for('static', filename='img/animaux_present.PNG') }}" class="img-fluid w-100 hero-img"
        alt="Animaux">

    <div class="position-absolute top-50 start-50 translate-middle">
        <h1 id="title" class="display-4 fw-bold">Adopte un animal</h1>
    </div>

</div>

<div class="container">
    <div class="my-5 ">
        <h2>Nos animaux en adoption</h2>
    </div>


    {% if animals|length == 0 %}
    <p>Aucun animal est disponible</p>
    {% else %}
    {% include "partials/_animals_grid.html" %}
    {% endif %}

    <div class="container text-center">
        <a class="btn btn-primary btn-lg mt-4 mb-2" href="{{url_for('form_animal')}}" role="button">Formulaire de mise
            en adoption</a>
    </div>
    {% endblock %}
</div>